<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--add name="DBConnectionString" providerName="System.Data.SqlClient"
			  connectionString="Data Source=10.153.188.157;Initial Catalog=BPMAINDB; Integrated Security=true" /-->
		<add name="DBConnectionString" providerName="System.Data.SqlClient"
		connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=gatekeepersDB;Integrated Security=true"/>
	</connectionStrings>
</configuration>